@import "tailwindcss";
@plugin "daisyui";

/* Leaflet overrides START */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .leaflet-layer,
  :root:not([data-theme="light"]) .leaflet-control-zoom-in,
  :root:not([data-theme="light"]) .leaflet-control-zoom-out {
    filter: invert(1) hue-rotate(180deg);
  }
}

.leaflet-container .leaflet-control-attribution {
  background: var(--color-base-300);
  color: color-mix(in oklch, var(--color-base-content) 50%, transparent);
}

.leaflet-popup-content-wrapper {
  background: var(--color-base-300);
  color: var(--color-base-content);
  border: 1px var(--color-primary) solid;
}

.leaflet-popup-tip {
  background: var(--color-base-300);
  color: var(--color-base-content);
  border: 1px var(--color-primary) solid;
}
/* Leaflet overrides END */

@plugin "daisyui/theme" {
  name: "EventTheme";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(94.7% 0.021 79.2);
  --color-base-200: oklch(98.2% 0.015 77.074);
  --color-base-300: oklch(90.1% 0.03 73.878);
  --color-base-content: oklch(20.8% 0.009 59.154);
  --color-primary: oklch(63.7% 0.195 38.407);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(100% 0 247.858);
  --color-secondary-content: oklch(0% 0 98.111);
  --color-accent: oklch(44.4% 0.181 265.998);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}
